<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <table>
            <tr>
                <td><input type="text" name="numberA" required></td>
                <td><select name="calculator" id="" required>
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">*</option>
                    <option value="/">/</option>
                </select></td>
                <td><input type="text" name="numberB" required></td>
            </tr>
            <tr>
                <td><button type="submit">Tính</button></td>
                <td></td>
                <td><p>{numberA} {calculator} {numberB} = {result}</p></td>
            </tr>
        </table>
    </form>
</body>
</html>